@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
:root {
    /* Define o tamanho máximo dos containers */
    --containerSize: 592px;
  }
.section {
    max-width: var(--containerSize);
    margin: 96px auto 0;
}